<!DOCTYPE html>
<head><title>PotatoX - Home</title></head>
<body>
<div class="wrapper">
  <app-menu></app-menu>
  <div class="grid">
    <div class="grid-left-top">
      <h1>PotatoX</h1>
    </div>
    <div class="grid-left-bottom">
      <h2>Centinaia di vestiti direttamente online, ordina direttamente da casa e ricevi in 7 giorni lavorativi. Spedizione sicura.</h2>

    </div>

    <div class="grid-right-top" >
    </div>
    <div class="grid-right-bottom">
      <div id="proparallax">
        <img class="prima" src="../assets/prodotti-img/felpa.jpg">
        <img class="seconda" src="../assets/prodotti-img/orologio.jpg" />
        <img class="terza" src="../assets/prodotti-img/occhiali.jpg "/>
      </div>
    </div>

  </div>
  
  <app-footer></app-footer>
</div>

</body>
