<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    
<div class="login">
    <div class="registrati">
       
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value);" >
        <button  class="btn-registrati"  routerLinkActive="active" routerLink="/registrati">
            +
    </button> 
        <div >
            <img class="logo" src="/assets/stock.png">
        </div>
    <br>
    <p class="accedi">Accedi</p>
    <div class="form-group">
        <label for="username" class="username" id="username" >Nome utente</label>
        <input type="text" id="username" formControlName="username" >
    </div>
    <div class="form-group">
        <label matInput  for="password" class="password" id="password">Password</label>
        <input matInput  type="password" id="password"  formControlName="password"[type]="show ? 'text' : 'password'" >
        <img (click)="password()" src="../../../assets/icon/eye.png" alt="occhio" class="eye">
    </div>
    <br><br>
<div>
    <span class="password">memorizza password</span>
                <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>  
                </label>
            </div>
            <button type="submit" >
                <span>Login</span>
            </button>
    </form>
    
</div>
</div>
</body>
</html>
