<app-menu></app-menu>
<div class="profile-grid">
    <div class="title">
        Benvenuto
    </div>
    <div class="user-name">
        <!-- {{myProfile.username}} -->
    </div>

    <!-- <div class="img-profile-wrapper">
        <img class="img-profile" src="/assets/profile-img/{{myProfile.image}}">
    </div> -->

    <div class="line"></div>

    <div class="info">
       
        <div class="space">
            <label for="name">Nome</label>
        </div>
        <div class="space">
            <label for="surname">Cognome</label>
        </div>
        <div class="space">
            <label for="gender">Genere</label>
        </div>
        <div class="space">
            <label for="email">Email</label>
        </div>
        <div class="space">
            <label for="phone">Phone</label>
        </div>
        
        
    </div>
    <div class="userInfo">
        <form>
            
       
        <!-- <div class="space">
            <div id="name"><input placeholder="{{myprofile.nome}}"></div>
        </div>

        <div class="space">
            <div id="surname"><input placeholder="{{myprofile.cognome}}"></div>
        </div>

        <div class="space">
            <div id="gender"><input placeholder="{{myprofile.genere}}"></div>
        </div>

        <div class="space">
            <div id="email"><input placeholder="{{myprofile.email}}"></div>
        </div>

        <div class="space">
            <div id="phone"><input placeholder="{{myprofile.telefono}}"></div>
        </div> -->

    </form>
      
        
    </div>
    <!-- <div class="btn-grid">
        <button class="btn" [routerLink]="['/profile']">Conferma </button>
    </div> -->
</div>