@import '~@angular/material/theming';
@import '../../../assets/scss/mixin';
@import '../../../assets/scss/variables';

.profile-grid{
    display: grid;
    grid-template-columns:  1fr 250px 250px 1fr ;
    grid-template-rows: max-content;
    margin: auto;
    gap: 15px;
    row-gap: 60px;
    column-gap: 50px;
    padding: 15px;
    color: white;
    font-size: 25px;

}
.title{
    grid-row: 1;
    grid-column: 2/4;
    justify-self: center;
    font-size: 30px;
    margin-top: 35px;
}
.user-name{
    grid-row: 2;
    grid-column: 2/4;
    justify-self: center;
    font-size: 30px;
    
}
label{
    justify-self: right;
}
.img-profile-wrapper{
    grid-row: 3;
    grid-column: 2/4;
    justify-self: center;
    margin: 25px;
}
.img-profile{
    width: 170px;
    margin-top: -70px;
}
.line{
    border-left: 1px solid white;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 460px;
}
.btn{
    @include button-style;
    width: 200px;
    height: 60px;
}

.btn-grid{
    grid-column: 2/4;
    justify-self: center;
}

.info{
    grid-row: 3;
    grid-column: 2;
    margin-top: 120px;
    justify-self: right;
}
.userInfo{
    grid-row: 3;
    grid-column: 3;
    margin-top: 120px;
}
.space{
    margin: 45px;
}