<app-menu></app-menu>
<div class="wrapper">
  <section id="color-form">

      <h1> Inviaci un tuo feedback </h1>


    <form class="form-group" accept-charset="utf-8" class="quad">

        <div class="feedback-element">
          <div class="grid-span">
            <span class="material-icons user-icon"> person </span>
          </div>
          <div class="grid-label">
            <label for="id-nome"> Nome </label>
          </div>
          <div class="grid-input">
            <input type="text" class="form-control" id="id-nome" placeholder="Giovanni"/>
          </div>
        </div>

        <div class="feedback-element">
          <div class="grid-span">
            <span class="material-icons user-icon"> person </span>
          </div>
          <div class="grid-label">
            <label for="id-cognome"> Cognome </label>
          </div>
          <div class="grid-input">
            <input type="text" class="form-control" id="id-cognome" placeholder="Bianchi"/>
          </div>
        </div>

        <div class="feedback-element">
          <div class="grid-span">
            <span class="material-icons"> local_phone </span>
          </div>
          <div class="grid-label">
            <label for="id-telefono"> Telefono </label>
          </div>
          <div class="grid-input">
            <input type="text" class="form-control" id="id-telefono" placeholder="389 672 87 89"/>
          </div>
        </div>

        <!-- <label><span>Gender</span><input type="" placeholder="Maschio" /></label> -->

        <div class="feedback-element">
          <div class="grid-span">
            <span class="material-icons"> email </span>
          </div>
          <div class="grid-label">
            <label for="id-email"> Email </label>
          </div>
          <div class="grid-input">
            <input type="email" class="form-control" id="id-email" placeholder="giovanni.bianchi@gmail.com">
          </div>
        </div>

        <div class="feedback-element" id="commenti">
          <div class="grid-span">
            <span class="material-icons"> announcement </span>
          </div>
          <div class="grid-label">
            <label for="id-email"> Commenti </label>
          </div>
          <div class="grid-input">
            <textarea name="" id="id-mes" placeholder="Commento a caldo"></textarea>
          </div>
        </div>


        <button class="btn-invia" class="form-control">Invia</button>

    </form>
  </section>

</div>

<app-footer></app-footer>
