<section id="color-form">
  <h2>Inviaci il tuo feedback</h2>
  <form class="form-group" accept-charset="utf-8" class="quad">

      <span class="material-icons user-icon">person</span>
      <label for="id-nome">Nome</label>
      <input type="text" class="form-control" id="id-nome" placeholder="Mario"/>

      <span class="material-icons user-icon">person</span>
      <label for="id-cognome">Cognome</label>
      <input type="text" class="form-control" id="id-cognome" placeholder="Rossi"/>

      <span class="material-icons">local_phone</span>
      <label for="id-telefono">Telefono</label>
      <input type="number" class="form-control" id="id-telefono" placeholder="3456789012"/>

      <!-- <label><span>Gender</span><input type="" placeholder="Maschio" /></label> -->

      <span class="material-icons">email</span>
      <label for="id-email">Email</label>
      <input type="email" class="form-control" id="id-email" placeholder="mario.rossi.gmail.com">

      <label for="id-mes">Commenti</label>
      <textarea name="" id="id-mes" placeholder="Il gruppo B si guarda i tutorial degli Indianidi"></textarea>

      <button id="id-btn-invia" class="form-control">Invia</button>



  </form>
</section>

