$dark-blue1: rgb(3, 51, 70); //blu scuro
$dark-blue2: rgba(1, 29, 40, 0.7); //blu 0.3 piu trasparente
$color-button: rgb(255, 255, 255, 1); //colore bottoni
$basic-gradient: linear-gradient(to right, $dark-blue2 0%, $dark-blue1 100%); //sfondo sfumato base