<div class="menu-wrapper">
  <div class="elenco1"> </div>
  <div class="elenco-element">
    <a class="elenco" routerLink="/home" routerLinkActive="active">Homepage</a>
  </div>
  <div class="elenco-element">
    <a class="elenco" routerLink="/list" routerLinkActive="active">Lista</a>
  </div>
  <div class="elenco-element">
    <a class="elenco" routerLink="/cards" routerLinkActive="active">Cards</a>
  </div>
  <div class="elenco-element">
    <a class="elenco" routerLink="/feedback" routerLinkActive="active">Feedback</a>
  </div>
  <div class="elenco-element">
    <a class="elenco" routerLink="/profile" routerLinkActive="active">Profilo</a>
  </div>
  <div class="elenco-element">
    <a class="elenco" routerLink="/logout" routerLinkActive="active">Esci</a>
  </div>
  <div class="elenco-element elenco7">
    <img src="https://stockx-assets.imgix.net/logo/stockx-homepage-logo.png?auto=compress,format">
  </div>

</div>
