<nav>

  <ul id="ul-nav">
      <li class="elenco" routerLink="/home" routerLinkActive="active">Homepage</li>
      <li class="elenco" routerLink="/list" routerLinkActive="active">Lista</li>
      <li class="elenco" routerLink="/cards" routerLinkActive="active">Cards</li>
      <li class="elenco" routerLink="/feedback" routerLinkActive="active">Feedback</li>
      <li class="elenco" routerLink="/profile" routerLinkActive="active">Profilo</li>
      <li class="elenco" routerLink="/logout" routerLinkActive="active">Esci</li>

  </ul>
  <img src="https://stockx-assets.imgix.net/logo/stockx-homepage-logo.png?auto=compress,format">
</nav>
