
/* PULSANTI MENU */

.menu-wrapper {
  z-index: 10000;
  position: sticky;
  top: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr 2fr;
  width: 100%;
  background: -webkit-linear-gradient(left, rgba(0, 76, 240, 0.897) 0%, rgb(5, 215, 252) 100%);
}
.elenco{
  text-decoration: none;
  padding:1.5em;
  transition: all 0.5s;
  cursor: pointer;
  color: #fff;
  border: 1.6px solid transparent;
  margin-right: 2em;
  font-size: 1.2em;

}
.elenco:hover{
  border-bottom: 1.6px solid #fff;
}

img {
  height: 50px;
  margin: 0.7em;
  margin-right: 4em;
}

.elenco1 {
  grid-row: 1;
  grid-column: 1;
}
.elenco7 {
  grid-row: 1;
  grid-column: 9;
}
.elenco-element {
  display: flex;
  align-items: center;
  justify-content: center;
}
